.Btn-Hover {
    margin-top: '1.5em';
    background: white;
    width: 8.5em;
    height: 3em;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    text-decoration: none;
    color: black !important;
    transition: all 0.3s;
}

.Btn-Hover:hover {
    background-color: var(--main-color) !important;
    color: white !important;
}